/* Barra de organización */

.product-sorting-general {
  display: block;
  background-color: #35374B; 
  padding: 0.5em 1em; 
  width: 82%;
  box-sizing: border-box; 
  position: fixed;
  top: 53px; 
  left: 250px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font: Roboto;
}

.product-categories {
  display: block;
  display: flex; 
  justify-content: space-between; 
  flex: 1; 
}

.product-categories button {
  display: block;
  border-style: hidden;
  background-color: #35374B;
  color: #D9D9D9;
  font-size: 16px;
  font: 700;
  flex: 1; 
  margin: 0 4.5em; 
}

.product-categories button:nth-child(1) {
  transform: translateX(-4em);
}

.product-categories button:nth-child(2) {
  transform: translateX(-3em);
}

.product-categories button:nth-child(3) {
  transform: translateX(4.5em);
}


.product-categories button:nth-child(4) {
  transform: translateX(-6.5em);
}

.product-categories button:hover {
  border: none;
}

.product-categories button:focus {
  outline: none;
}

.image-format {
  width: 2.5em; 
  height: 2.5em; 
  margin: auto;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Listado de productos */
.product-table {
  width: 100vm; /* Ajusta el ancho de la tabla para que ocupe todo el contenedor */
  table-layout: fixed; /* Fija el ancho de las columnas para evitar que se expandan más allá del contenedor */
  margin-top: 50px; /* Agrega un margen superior para dejar espacio para la barra de ordenamiento */
}

.product-table td {
  padding: 0.5em; 
  border: 1px solid #ccc; 
  background-color: #B6BBC4;
  font-weight: bold; 
  height: 3em; 
  font: Roboto;
}
.product-table td:nth-child(1) {
  width: 1.5em; 
}

.product-table td:nth-child(2) {
  width: 40em; 
  text-align: center;
}

.product-table td:nth-child(3) {
  width: 8em; 
  text-align: center;
}

.product-table td:nth-child(4) {
  width: 8em; 
  text-align: center;
}


.product-table-container {
  width: 83%;
  height: 100%;
  text-align: center;
  margin-right: auto;
  background-color: rgb(165, 163, 163); 
  transition: opacity 0.5s ease-in-out; 
}

.product-list-container {
  max-height: calc(100vh - 150px); /* Ajusta la altura máxima de la tabla para que ocupe el espacio restante en la ventana */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido excede la altura máxima */
}




.product-item button {
  background-color: #B6BBC4;
  border: none;
  padding: 0.1em;
  border-radius: 0.5em;
}

.product-item button:hover {
  background-color: #750863; 
}

.edit-icon,
.delete-icon {
  width: 2em; 
  height: 2em; 
  margin-left: 0.5em; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9999; 
}

.add-button {
  position: fixed; 
  bottom: 1em;
  right: 1.5em; 
  background-color: #F5f5f5;
  border: none;
  padding: 0.5em; 
  border-radius: 0.5em; 
  color: #31304D;
}

.add-button :hover {
  background-color: #750863;
}

.add-icon {
  width: 2.5em; 
  height: 2.5em; 
  margin-left: 0.5em; 
}



.product-list-container::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Estilo de la barra de desplazamiento en sí */
.product-list-container::-webkit-scrollbar-thumb {
  background-color: #750863; /* Color del fondo de la barra de desplazamiento */
  border-radius: 10px; /* Radio de borde de la barra de desplazamiento */
}

/* Estilo del riel de la barra de desplazamiento */
.product-list-container::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del riel de la barra de desplazamiento */
}